p {
    color: blue;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

body {
    color: rgb(218, 231, 231);
    background-color: rgb(5, 68, 68);
    font-family: 'Arial', Courier, monospace;
}

li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(218, 231, 231);
    font-size: 20px;
}